<style>
     .thank-you-container {
           max-width: 512px;
    margin: 0 auto;
    padding: 80px 20px;
       text-align:center;
        }
        .thank-you-container h1 {
          font-size: 36px;
          line-height: 38px;
          color: #05243b;
          font-weight: 500;
          margin-bottom: 20px;
          margin-top: 13px;
        }
       .thank-you-container p {
               font-size: 18px;
    color: #6B7280;
         line-height:24px;
        }
    .thank-you-btn {
      background-color: #97ca3b;
      border-radius: 9999px;
      position: relative;
      color: white;
      display: inline-flex;
      font-weight: 600;
      align-items: center;
      padding: 9.4px 20px;
      padding-left: 48px;
      font-size: 14px;
      transition: all 0.3s;
      text-decoration: none;
          margin-top: 20px;
  }
    .thank-you-icon {
      width: 16px;
      height: 16px;
      position: absolute;
      left: 20px;
      transition: all 0.3s;
    }

    .thank-you-icon-home {
      opacity: 1;
    }

    .thank-you-btn:hover .thank-you-icon-home {
      opacity: 0;
      transform: translateX(8px);
    }

    .thank-you-icon-rocket {
      width: 20px;
      height: 20px;
      opacity: 0;
      transform: translateX(-8px);
    }

    .thank-you-btn:hover .thank-you-icon-rocket {
      opacity: 1;
      transform: translateX(0);
    }
</style>

<div class="thank-you-container">
  <h1>Thank You</h1>
  <p>Your request has been submitted successfully.</p>
  <a
    href="/"
    class="thank-you-btn"
  >
    <svg
      class="thank-you-icon thank-you-icon-home"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
      </path>
    </svg>

    <svg
      class="thank-you-icon thank-you-icon-rocket"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122">
      </path>
    </svg>
    <span>Back To Home</span>
  </a>
</div>
