{{ 'section-warranty-support.css' | asset_url | stylesheet_tag }}

<div class="contact-support-section component">
  <div class="contact-support-container">
    <div class="contact-support-title">
      <h3>Feel free to contact support in case you have some questions regarding the warranty extension programme</h3>
    </div>
    <div class="contact-box">
      <div class="phn-icon">
        <svg viewBox="0 0 513 512" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_290_5)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M179.2 151.4L145.9 118.2C112.5 84.8999 110 82.7999 104.4 83.6999C100.5 84.2999 97.1001 88.7999 97.1001 93.2999C97.1001 97.2999 97.6001 97.7999 131 131.4L164.9 165.4M75.0001 57.1999C71.2001 59.0999 68.7001 64.8999 70.0001 68.4999C71.6001 72.6999 73.8001 74.7999 77.5001 75.3999C88.6001 77.4999 93.4001 62.0999 83.3001 56.8999C80.5001 55.5999 78.1001 55.5999 75.0001 57.1999ZM326.5 127C319.1 131.3 319.2 141 326.9 144.9C334.2 148.6 342.9 140.3 339.7 132.6C339 130.8 337.7 128.8 336.8 128.1C334.6 126.3 328.9 125.7 326.5 127ZM375.5 126.8C369.3 129.3 367.4 137.8 372.1 142.4C373.5 143.8 376.3 145.2 378.3 145.5C381.5 146 382.4 145.7 385.5 142.6C390.2 137.9 390.3 133.9 385.6 129.3C382.2 125.9 379.5 125.2 375.5 126.8ZM422.8 127.5C419.4 129.4 418 131.8 418 136.4C418 142.9 424.9 147.4 431.1 144.9C435 143.3 437 140.3 437 136.1C437 131.7 435.6 129.2 432 127.4C428.4 125.5 426.3 125.6 422.8 127.5ZM119 280.8C114.1 285.7 115.5 293.4 121.8 296.4C132.1 301.3 140.7 288.3 132.2 280.7C127.8 276.8 122.9 276.9 119 280.8ZM148.4 307.8C145.4 309.1 142 313.7 142 316.5C142 317.8 142.6 320.2 143.4 321.7C145 324.8 195.7 375 203.3 381C209.5 385.9 214.3 386.2 218.1 382.1C224.1 375.7 222.6 371.6 210.1 360.2C204.8 355.3 190.5 341.6 178.4 329.6C155.8 307.3 153.6 305.7 148.4 307.8Z" fill="#97CA3B"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M85.9998 2.50003C70.2998 5.90003 57.5998 13.5 45.1998 27C21.1998 53.3 6.49979 83.2 -0.10021 119.4C-2.30021 131.5 -2.60021 161.2 -0.60021 173.4C2.59979 193.3 8.49979 211.7 16.9998 228.3C23.4998 241 26.8998 246.1 42.8998 267.9C97.7998 342.2 167.8 412.2 242.5 467.5C271.7 489.1 284.9 496.5 307.4 503.9C326.5 510.2 340.6 512.3 362.5 512.3C387.9 512.3 408.1 508.4 430.2 499.3C456.1 488.6 485.9 466.7 496.8 450.1C512.9 425.8 513.6 396.2 498.7 371.4C494 363.5 446.5 315.5 437.4 309.4C413 293.2 382.2 292.9 357.5 308.6C354.4 310.6 343.6 320.3 333.4 330.3C322.7 340.8 313.2 349.3 310.9 350.4C308.7 351.4 303.9 352.5 300.2 352.7C294.7 353 292.6 352.7 288.2 350.7C274.9 344.6 212 284.8 179 246.9C159.3 224.2 157 220.3 157.6 210.1C157.8 206.4 158.9 201.6 159.9 199.4C161 197.1 169.4 187.6 180 176.9C190 166.7 199.8 155.9 201.7 152.8C217.4 128.1 217.1 97.3 200.9 72.9C194.9 63.8 146.9 16.4 138.9 11.6C122.9 2.00002 103.8 -1.29997 85.9998 2.50003ZM162.4 166.4L154 175.2C149.4 180 144.4 186.2 143.1 188.9C135.3 204.3 136 222.6 144.8 236.5C159.4 259.5 250.9 351 273.9 365.6C287.9 374.5 306.2 375.1 321.5 367.3C324.2 365.9 330.4 361 335.3 356.4L344.2 347.9L400.4 404.1C431.3 435 456.6 460.6 456.6 461.1C456.6 462.3 441 472.1 432 476.7C421.4 482 402.7 488.2 390.1 490.5C375.3 493.3 346.8 493 332.8 490C318.3 486.9 307.7 483.4 295.6 477.7C283 471.8 276.9 467.9 256.6 453C192.8 406 130.9 346.6 80.8998 284.4C46.7998 241.9 32.6998 219.6 25.2998 196.4C15.0998 164.4 15.1998 130.2 25.4998 98.8C35.4998 68.4 59.0998 35.8 77.5998 26.7C88.6998 21.2 100.4 19.6 111.8 22C114.7 22.6 120.5 24.7 124.6 26.6C131.6 29.9 134 32 158.2 56.3C182.5 80.6 184.6 83 188 90.1C197.2 109.3 194.2 132.7 180.7 147.9L176.7 152.4M281.8 42.4C263.6 47.3 249.8 61.3 245 79.6C242.8 88 242.8 185.8 245 194.2C249.8 212.7 263.7 226.6 282.2 231.4C286.9 232.6 296.5 232.9 334.7 232.9H381.5V248.5C381.5 265.5 382.3 268.6 387 270.8C390.5 272.4 393 272.3 396.3 270.6C397.8 269.8 407.1 261 417 251.1L435 233H450C460.1 233 466.9 232.5 470.8 231.5C489.3 226.7 503.2 212.8 508 194.3C510.2 185.9 510.2 88.1 508 79.7C503.2 61.2 489.3 47.3 470.8 42.5C462.5 40.2 289.8 40.3 281.8 42.4ZM471.6 63.5C477.5 66.2 484.1 72.8 486.8 78.7C488.9 83.3 488.9 84.2 488.9 136.8C488.9 189.4 488.9 190.4 486.8 194.9C484 200.9 477.5 207.4 471.6 210.1C467.5 212 464.6 212.3 446.7 212.7L426.5 213.2L414.1 225.6L401.7 238L401.3 228.4C401 219.5 400.8 218.6 398.2 216L395.4 213.2L340.7 212.7C287.4 212.2 285.9 212.1 281.3 210.1C275.4 207.4 268.8 200.8 266.1 194.9C264 190.4 263.9 189 263.6 139.8C263.4 105.2 263.6 87.7 264.4 84.1C266.5 74.3 274 66 283.9 62.5C288.5 60.9 295.5 60.8 377.9 61C466.7 61.4 467 61.4 471.6 63.5ZM407.1 317.9C410.4 318.5 416.4 320.6 420.5 322.5C427.4 325.8 430 328 454.1 352.2C478.3 376.4 480.5 378.9 483.8 385.8C489.4 397.7 490.7 407 488.4 419.4C487.1 426.8 481.6 437.9 476.5 443.8L472.6 448.3L415.3 391L358 333.7L362.5 329.7C374 319.5 391 315 407.1 317.9Z" fill="#fff"></path>
          </g>
          <defs>
            <clipPath id="clip0_290_5">
                <rect width="513" height="512" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="cd-wrapper">
        <a href="tel:1-805-221-7202">1-805-221-7202</a>
        <p>2-10 pm Monday-Friday EST</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Contact Support",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Warranty Support"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
