.lead-faq-section {
  padding: 63px 0 119px;
  background-color: #f2f2f2;
}
.lead-faq-section .container {
  max-width: 1244px;
  margin: 0 auto;
}
.lead-faq-section h2 {
  font-size: 50px;
  line-height: normal;
  color: #05243b;
  font-weight: 600;
  margin-bottom: 75px;
  text-align: center;
}
.lead-faq-section .faq-wrap .faq-box .title {
  font-size: 30px;
  line-height: normal;
  font-weight: 500;
  color: #05243b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.lead-faq-section .faq-wrap .faq-box .content {
  font-size: 25px;
  line-height: 35px;
  font-weight: 400;
  color: #05243b;
  padding-top: 35px;
}
.faq-box {
  background: #fff;
  padding: 26px 44px 26px 50px;
  margin-bottom: 20px;
}
.lead-faq-section .faq-wrap .faq-box .title span.plusminus {
  /* margin-top: -7px; */
  cursor: pointer;
}
.lead-faq-section .faq-wrap .faq-box .title span.inner-title {
  width: calc(100% - 20px);
  padding-left: 0;
}
@media only screen and (max-width: 991px) {
  .lead-faq-section h2 {
    font-size: 40px;
    margin-bottom: 55px;
  }
  .lead-faq-section .faq-wrap .faq-box .title {
    font-size: 24px;
  }
  .faq-box {
    padding: 20px 30px 20px 30px;
  }
  .lead-faq-section .faq-wrap .faq-box .content {
    font-size: 20px;
    line-height: 30px;
    padding-top: 20px;
  }
  .lead-faq-section {
    padding: 63px 0 70px;
  }
}

@media only screen and (max-width: 767px) {
  .lead-faq-section {
    padding: 53px 0 35px;
  }
  .lead-faq-section h2 {
    font-size: 50px;
    font-weight: 500;
  }
  .lead-faq-section h2 {
    margin-bottom: 45px;
  }
  .lead-faq-section .faq-wrap .faq-box .title {
    font-size: 15px;
  }
  .lead-faq-section .faq-wrap .faq-box .content {
    font-size: 15px;
    line-height: 25px;
  }
  .faq-box {
    padding: 18px;
    margin-bottom: 11px;
  }
  .lead-faq-section .faq-wrap .faq-box .title span {
    padding-left: 20px;
  }
  .lead-faq-section .faq-wrap .faq-box .title span img.plusminus {
    margin-top: 0;
    width: 10px;
  }
}
