.talk-to-us.desktop-hide {
    display: none;
}
@media only screen and (max-width: 767px) {
    .talk-to-us {
        padding: 30px 0;
    }
    .talk-to-us.desktop-hide a {
        text-decoration: none;
        color: inherit;
    }
    .talk-to-us h2 {
        font-size: 32px;
        line-height: 22.4px;
        color: #05243B;
    }
    
    .talk-to-us p {
        font-size: 14px;
        line-height: 22.4px;
        color: #05243B;
        padding: 20px 0;
        max-width: 333px;
        margin: 0 auto;
    }
    
    .talk-to-us .blue-btn-wrap a:nth-child(1) {
        margin-bottom: 10px;
    }
    
    .talk-to-us .blue-btn-wrap a {
        background-color: #05243B;
        font-size: 20px;
        line-height: normal;
        color: #fff;
        padding: 10px 21px;
        border-radius: 9px;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        font-weight: 400;
    }
    
    .talk-to-us .blue-btn-wrap {
        max-width: 300px;
        margin: 0 auto;
    }
    
    .talk-to-us .blue-btn-wrap a img {
        margin-right: 10px;
    }
    
    .talk-to-us.desktop-hide {
        display: block;
    }
}