.faq-section .faq-container {
  max-width: 1152px;
  margin: 0 auto;
  padding-block: 64px;
  padding-inline: 20px;
}
.faq-section .faq-container h2 {
  font-size: 36px;
  line-height: 38px;
  text-align: center;
  color: rgb(5, 36, 59);
  margin-bottom: 40px;
  font-weight: 500;
}
.faq-section .faq-items-wrapper {
  max-width: 768px;
  margin: 0 auto;
  border: 1px solid rgb(229 231 235);
  border-radius: 12px;
}
.faq-section .faq-arrow svg {
  width: 16px;
  color: rgb(156 163 175);
  display: block;
  transition: 0.3s;
}
.faq-item.open .faq-arrow svg {
  transform: rotate(90deg);
}
.faq-section .faq-item {
  border-bottom: 1px solid #e5e7eb;
  padding: 20px 32px;
}
.faq-section .faq-item:last-child {
  border-bottom: 0;
}
.faq-section .faq-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.faq-section .faq-title h3 {
  font-size: 16px;
  font-weight: 600;
  color: #05243b;
  line-height: 28px;
}
.faq-section .faq-desc {
  margin-top: 8px;
  display: none;
  padding-right: 48px;
}
.faq-section .faq-desc p {
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

@media only screen and (max-width: 1900px) {
  .faq-section .faq-container h2 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 1200px) {
  .how-it-works .faq-section .faq-container h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0.8px;
    margin-bottom: 64px;
  }
  .how-it-works .faq-section .faq-title h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
  }
  .how-it-works .faq-section .faq-item {
    padding: 12px 10px;
  }
  .how-it-works .faq-section .faq-items-wrapper {
    border: 1px solid rgba(136, 136, 136, 0.5);
    border-radius: 0px;
  }
}
@media only screen and (max-width: 575px) {
  .faq-section .faq-container {
    padding-block: 48px;
  }
  .faq-section .faq-title {
    align-items: flex-start;
  }
  .faq-section .faq-arrow svg {
    margin-left: 24px;
    height: 28px;
  }
  .how-it-works .faq-section .faq-container {
        padding-block: 50px;
    }
}
