.who-we-are-wrapper {
  position: relative;
}
.who-we-are-wrapper img {
  display: block;
  width: 100%;
}
.who-we-are-wrapper .who-we-are-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 27%;
  max-width: 760px;
  margin: 0 auto;
  text-align: center;
}
.who-we-are-wrapper .who-we-are-content p {
  font-size: 15px;
  line-height: 25px;
  color: #fff;
}
.who-we-are-wrapper .who-we-are-content h2 {
  font-size: 60px;
  line-height: 70px;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
}
@media screen and (max-width: 1280px) {
  .who-we-are-wrapper .who-we-are-content {
    padding: 0 64px;
  }
}
@media screen and (max-width: 767px) {
  .who-we-are-wrapper .who-we-are-content h2 {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -1.5px;
  }
  .who-we-are-wrapper .who-we-are-content {
    bottom: 10%;
    padding: 8px !important;
  }
  .who-we-are-wrapper img {
    height: 439px;
    object-fit: cover;
  }
}
